<h1>Create a Fish</h1>

<form action="/fish_factory" method="post">
  <ul>
    <li>
      <label name="fishname">Fishname</label>
      <input type="text" name="fishname" id="fishname"/>
    </li>
    <li>
      <label name="wiki">Wiki</label>
      <input type="text" name="wiki" id="wiki"/>
    </li>
    <li>
      <button>Submit</button>
    </li>
  </ul>
</form>