<div class="wrapper">
  <article class="one_fourth"></article>
  <article class="one_half" id="flash_box">
    <% if flash[:notice] %>
      <p style="color: green"><%= flash[:notice] %></p>
    <% elsif flash[:error] %>
      <p style="color: red"><%= flash[:error] %></p>
    <% end %>
  </article>
  <article class="one_fourth"></article>
</div>

  <%= yield %>